.git
.github
.idea
.pytest_cache
.mypy_cache
.ruff_cache
.tox
.venv
venv
__pycache__
*.py[cod]
*.pyo
*.pyd
*.log

.env*
!.env.example

uploads
docs
tests
vitepress

Dockerfile
docker-compose*.yml
dist
build
*.egg-info
