# Copy to .env.oneclick and edit if needed:
#   cp .env.oneclick.example .env.oneclick

APP__CONFIG_CRYPTO_KEY=XV1rJ-UPAbWeYjprihKNS3ZCCHdBuVbIc0WXmYc70ck=

API_PORT=8000
ADMIN_PORT=8081
PORTAL_PORT=8080

POSTGRES_PASSWORD=123456
POSTGRES_DB=hei_fastapi

SEED_SUPER_ADMIN_ACCOUNT=superadmin
SEED_SUPER_ADMIN_PASSWORD=123456

# Images (override if needed)
ACOJ_API_IMAGE=registry.cn-beijing.aliyuncs.com/czbyte/acoj-api:1.1.0
ACOJ_ADMIN_IMAGE=registry.cn-beijing.aliyuncs.com/czbyte/acoj-admin:1.1.0
ACOJ_PORTAL_IMAGE=registry.cn-beijing.aliyuncs.com/czbyte/acoj-portal:1.1.0
POSTGRES_IMAGE=swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/pgvector/pgvector:pg18
REDIS_IMAGE=swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/redis:8-alpine
RABBITMQ_IMAGE=swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/rabbitmq:4-management
MINIO_IMAGE=swr.cn-north-4.myhuaweicloud.com/ddn-k8s/quay.io/minio/minio:RELEASE.2025-07-23T15-54-02Z
