from sqlalchemy.orm import Session
from .models import {{ EntityName }}
from core.db.base_dao import BaseDAO


class {{ EntityName }}Dao(BaseDAO):
    def __init__(self, db: Session):
        super().__init__(db, {{ EntityName }})
